#pits {
	// border: 1px solid black;
	// width: 376px;
	height: 56px;
}

#boardSide1 {
	position: relative;
	top: -375px;
	right: -380px;
}

#boardSide2 {
	position: relative;
	top: -365px;
	right: -380px;
}

#messageBox {
	width: 376px;
	text-align: center;
	font-weight: bold;
}

#events {
	// border: 1px solid black;
}

.playerOnline {
	text-color: green;
}

.pit {
	position: relative;
	border: 1px solid black;
	width: 50px;
	height: 25px;
}